page-edit-note {
  ion-content{
    background: url(../assets/imgs/bg.jpg) no-repeat center fixed;
    background-size:cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      botton: 0;
      left: 0;
      background-image: linear-gradient(to botton right, #02362c,#003199);
      opacity: .3;
    }
  }

  .date{
    font-weight: bold;
    color: #888;
    padding-right:24px;
    font-size: 0.8em;
  }
}
